<header class="navbar navbar-fixed-top navbar-inverse">
	<div class= "container">
		<%=link_to "Book Depot", store_index_path, id:"logo" %>
		<!-- Sidebar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<ul class= "nav sidebar-nav">
				<li><a href="http://localhost:3000">Home</a></li>
				<li><a href="http://localhost:3000">Help</a></li>
				<li><a href="http://localhost:3000">FAQ</a></li>
			</ul>
		</nav>
	</div>
</header>

